button{padding: 15px 30px;
font-size: 15px;
border-radius: 3px;
background-color: orange;
transition: transform .2s;
float: right;
border-color:black;
border: none;
border-style: solid 5px;
font-style: solid;}
button:hover{background-color:Yellow;
transform: scale(0.9);}
a{float: left;
font-family: verdana;
font-size: 30px;
text-decoration: none;
color: black;
border-style: none;
background-color: none;}
body{background-color: orange;
font-family: verdana;}
img{float: center;
transition: transform .2s;
height: 190px;
width: 200px;}
img:hover{transition: scale(.9);}
h3{text-align: center;}

